/* Base Section Styles */
.section {
  padding: 60px 30px;
  text-align: center;
  color: #0d214f;
  margin-top: 80px; /* Make space for fixed header */
}

.dark-mode .section {
  color: white;
}

.section-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.section-content .photo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-item {
  margin: 20px 0;
}

.timeline-item h3 {
  font-size: 20px;
}

.contact p {
  font-size: 18px;
}

/* Dark Mode */
.dark-mode {
  background-color: #0d214f;
  color: white;
}

.dark-mode .section {
  color: white;
}

.dark-mode .contact p {
  font-size: 20px;
}

.dark-mode .timeline-item h3 {
  color: white;
}

/* Dark Mode Toggle Button */
.dark-mode-toggle {
  background-color: transparent;
  color: #0d214f;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  position: fixed;
  top: 40px;
  right: 180px; /* Position the button to the right */
  cursor: pointer;
  z-index: 100;
  transition: all 0.3s ease-in-out;
}

.dark-mode-toggle.dark {
  background-color: #fff;
  color: #0d214f;
}

.dark-mode-toggle:hover {
  opacity: 0.8;
}

/* Mobile Responsive Styles */
@media screen and (max-width: 768px) {
  .section {
    padding: 40px 20px;
  }

  .section-content {
    flex-direction: column;
    text-align: center;
  }

  .photo img {
    width: 100px;
    height: 100px;
  }

  .contact p {
    font-size: 16px;
  }

  .footer-line {
    width: 100%;
  }

  .footer p {
    font-size: 10px;
  }

  /* Move the dark mode toggle button to top-right corner on mobile */
  .dark-mode-toggle {
    top: 20px;
    right: 20px;
  }
}
